/* 
colors:
amber-50
amber-500
gray-800
*/


footer {
    height: 16em;
    box-shadow: 0 -10px 5px #0000001a;
    display: flex;
    @apply bg-amber-50;

    div {
        height: 100%;
        width: 25%;
        padding: 14px 7px;

        div {
            @apply bg-amber-500;
            height: 100%;
            width: 100%;
            color: #f8f9fa;
            padding: 25px;
            border-radius: 25px;
            background-repeat: no-repeat;
            background-position: 115%;
            background-size: 50%;
        }
    }

    div:nth-child(3) div {
        background-position: 140%;
        background-size: 60%;
    }

    div:nth-child(4) div {
        background-position: 120%;
        background-size: 45%;
    }
}
header {
    display: flex;
    height: 9dvh;
    @apply bg-gray-800;

    img {
        height: 9dvh;
    }

    ul {
        display: flex;
        height: 100%;

        form,
        li {
            @apply bg-amber-500 hover:bg-amber-600 transition rounded-full;
            display: flex;
            height: 30%;
            margin: auto 10px;
            padding: 0 15px;


            button,
            a {
                @apply font-semibold text-white;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 120%;
            }
        }
    }
}

.background-video{
    @apply fixed w-full min-h-full h-auto max-w-full -z-10;
}

main{}





/* hier verder met de rework */

.navbar-expand-sm {
    justify-content: flex-end !important;
}

.z-index-n1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#flex {
    display: flex;
    justify-content: space-between;
    width: 100dvw;
}

#wrapper {
    font-size: small;
    padding-left: 1dvw;
    padding-right: 1dvw;
    padding-top: 0.5dvw;
    padding-bottom: 0.5dvw;
    width: fit-content;
    height: fit-content;
    background-color: white;
    position: relative;
    top: 70px;
    float: right;
    border: 1px solid black;
}



main {
    min-height: calc(100dvh - 9dvh - 16em);
}

* {
    z-index: 1;
}

#infoText {
    margin: auto;
    background-color: white;
    border: 2px solid black;
    width: 50vw;
    margin-top: 15vh;
    padding: 2em;
    border-radius: 2em;
}

.backgroundImg {
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.inputText {
    border: 2px solid black;
    width: 15vw;
}

#submitButton {
    background-color: orange;
    border: 1px solid black;
}

#ass_form {
    padding-top: 1dvw;
    color: black;
    background-color: rgb(255, 255, 255);
    margin-top: 1dvw;
    margin-bottom: 1dvw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 40dvw;
    margin-top: 1vh;
    padding: 2em;
    border-radius: 2em;
}

.profileCardShell {
    padding: 10dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .profileCard {
        margin: 10px;
        width: 387.719px;

        .pc-details {
            top: 2em;

            p {
                top: 5px;
            }
        }
    }
}