/* 
colors:
amber-50
amber-500
gray-800
blue-600
*/
/* don't touch the body */
body {
    background-color: transparent !important;
    overflow-x: hidden;
}

footer {
    height: 30vh;
    box-shadow: 0 -10px 5px #0000001a;
    display: flex;
    @apply bg-amber-50;

    @media (max-width: 600px) {
        flex-direction: column;
        height: 120dvh;
    }


    h4 {
        @apply font-bold
    }

    .socialLogo {
        max-height: 40px;
        padding: 0;
        display: flex;
        background: unset;

        a {
            display: block;
            height: 40px;
            width: 40px;

            img {
                height: 40px;
                filter: invert(100%);

                &:hover {
                    filter: invert(100%) opacity(50%);
                }
            }
        }
    }


    .btn {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 5px;
        height: 60px;
        width: 60px;

        img {
            filter: invert(100%);
        }
    }

    .modal {
        div {
            height: unset !important;
            @apply text-amber-50;
        }

        a {
            @apply font-semibold text-white decoration-amber-500 underline;
        }

        button {
            left: unset !important;
        }
    }

    div {
        height: 100%;
        width: 25%;
        padding: 14px 7px;

        @media (max-width: 600px) {
            width: 100dvw;
            height: 30vh;
        }

        a {
            @apply text-white decoration-blue-500 underline;
        }

        div {
            @apply bg-amber-500;
            height: 100%;
            width: 100%;
            color: #f8f9fa;
            padding: 2vh;
            border-radius: 5vh;
            background-repeat: no-repeat;
            background-position: 115%;
            background-size: 50%;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            ::-webkit-scrollbar {
                display: none;
            }
        }
    }

    div:nth-child(3) div {
        background-position: 140%;
        background-size: 60%;
    }

    div:nth-child(4) div {
        background-position: 120%;
        background-size: 45%;
    }
}

header {
    @apply bg-slate-900;
    display: flex;
    height: 15dvh;
    justify-content: space-between;

    div {
        /* @apply bg-amber-900; */
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 1vw;

        #mobileLogo {
            display: none;

            @media (max-width: 600px) {
                display: block !important;
                width: 15dvh;
            }
        }

        a img {

            @media (max-width: 600px) {
                display: none;
            }
        }


        a {
            @apply text-amber-500;
            font-size: 7.6dvh;
            line-height: 7.5dvh;
            margin: 0 1.25dvh;
            height: 100%;

        }

        p {
            @apply text-amber-50;
            width: 100%;
            font-size: 2.5dvh;
            line-height: 5dvh;
            text-align: center;
        }


    }


    ul {
        display: flex;
        height: 100%;

        form,
        li {
            /* @apply bg-amber-500 hover:bg-amber-600 transition rounded-full; */
            display: flex;
            height: 50%;
            margin: auto 10px;
            padding: 0 15px;

            button,
            a {
                @apply font-semibold text-white decoration-amber-500 underline;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 150%;
                margin: 0
            }

            .active {
                @apply decoration-blue-500;
            }
        }
    }
}

.formMain {
    @apply bg-amber-500;
    display: flex;
    align-items: stretch;
    border: 5px solid rgb(31 41 55);
    border-radius: 25px;
    width: 80%;
    margin: 1em auto;
    padding: 1em;

    &>div:nth-child(1) {
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: x-large;

        input {
            border: 2px solid rgb(31 41 55);
            border-radius: 8px;
            @apply bg-amber-50;
            text-align: center;
            width: 100%;
            color: rgb(31 41 55);
        }

        button {
            border: 2px solid black;
            border-radius: 15px;
            width: 35%;
            @apply bg-gray-800;
            color: oklch(98.7% 0.022 95.277);
            text-align: center;
        }

        button:hover {
            @apply bg-amber-50;
            color: rgb(31 41 55);
            cursor: pointer;
        }

        div:nth-child(1) {
            @apply bg-blue-950;
            width: 60%;
            margin: auto;
            padding: 3%;
            border: 2px solid black;
            border-radius: 10px;
            color: oklch(76.9% 0.188 70.08);
        }

        #submitButton{
            margin-top: 5%;
            @apply bg-lime-600;
            width: 60%;
            font-size: large;
        }
        #deleteButton{
            @apply bg-red-600;
            width: 60%;
            font-size: large;
        }

        textarea {
            border: 2px solid rgb(31 41 55);
            border-radius: 8px;
            @apply bg-amber-50;
            text-align: center;
            width: 100%;
            color: rgb(31 41 55);
        }
        fieldset {
            margin: auto;
        }
    }

    &>div:nth-child(2) {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: contain;
        }
    }

    #hereLink {
        @apply font-semibold text-white decoration-amber-500 underline;
    }
}

.nieuws-bar {
    @apply bg-gray-800 text-amber-500;
    padding: 0 0 10px 20px;
    font-size: 125%
}

.background-video {
    @apply fixed w-full min-h-full h-auto max-w-full -z-10;
    top: 0;
    @apply bg-amber-50;

    @media (max-width: 600px) {
        min-height: unset;
        top: 15dvh;
    }
}

main {
    min-height: calc(138dvh - 9dvh - 26vh);
    position: relative;

    @media (max-width: 600px) {
        min-height: calc(120dvh - 15dvh - 30vh);
    }


    .news {
        @media (max-width: 600px) {
            display: none;
        }

        width: 600px;
        position: absolute;
        right: 0;
        top: 100;

        a {
            @apply bg-amber-500 hover:bg-amber-600;
            height: 75px;
            display: flex;
            margin: 30px 0;

            img {
                height: 75px;
            }

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin-left: 25px;
            }

        }
    }

    .content {
        position: absolute;
        bottom: 0;
        top: unset;
        display: flex;

        @media (max-width: 600px) {
            flex-direction: column;
            overflow-y: scroll;
            height: 40dvh;
            border: 0 solid white;
            border-width: 5px 0;
        }

        iframe {
            width: calc(100vw/3);
            padding: 0;
            margin: 0;
            aspect-ratio: 16/9;

            @media (max-width: 600px) {
                width: 100dvw;
            }
        }
    }


    #infoText {
        background-color: white;
        border: 2px solid black;
        width: 60vw;
        margin: 10dvh auto;
        padding: 1.5em;
        border-radius: 2em;

        @media (max-width: 600px) {
            width: 90vw;
            margin: 4dvh auto;
        }

        a {
            @apply decoration-amber-500 underline;
        }

        .title {
            @apply text-amber-500;
            font-size: 150%;
        }

        .sub-title {
            @apply text-blue-600;
            font-size: 120%;
        }
    }
}





/* hier verder met de rework */

.navbar-expand-sm {
    justify-content: flex-end !important;
}



#flex {
    display: flex;
    justify-content: space-between;
    width: 100dvw;
}

#wrapper {
    font-size: small;
    padding-left: 1dvw;
    padding-right: 1dvw;
    padding-top: 0.5dvw;
    padding-bottom: 0.5dvw;
    width: fit-content;
    height: fit-content;
    background-color: white;
    position: relative;
    top: 70px;
    float: right;
    border: 1px solid black;
}

.backgroundImg {
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    @media (max-width: 600px) {
        display: none;
    }
}

.profileCardShell {
    padding: 10dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .profileCard {
        margin: 10px;
        width: 387.719px;

        .pc-details {
            top: 2em;

            p {
                top: 5px;
            }
        }
    }
}